.contacts
    .contacts-grid
        .contacts-grid-info
            .contacts-grid-info-address
                .contacts-grid-info-address__title Чекаємо вас за адресою:
                .contacts-grid-info-address__street м. Київ, вул. Верхній Вал 2А
            .contacts-grid-info-shedule
                .contacts-grid-info-shedule__title Графік роботи музею:
                .contacts-grid-info-shedule__days
                    | пн-вихідний
                    br
                    | вт-пт: 09:30 - 19:00
                    br
                    | сб-нд, свята: 10:00 - 20:00
            .contacts-grid-info-contacts
                .contacts-grid-info-contacts__title Контакти:
                .contacts-grid-info-contacts__tel
                    | +38 (044) 425-65-81,
                    br
                    | +38 (096) 477-97-91,
                    br
                    | +38 (099) 256-71-27
                .contacts-grid-info-contacts__mail enjoy@experimentanium.com.ua
        .contacts-grid-small-tiles
            .contacts-grid-small-tiles-top
                .contacts-grid-small-tiles-top-tile.contacts-grid-small-tiles-top-tile_cafe
                .contacts-grid-small-tiles-top-tile.contacts-grid-small-tiles-top-tile_shop
            .contacts-grid-small-tiles-bottom
                .contacts-grid-small-tiles-bottom-tile.contacts-grid-small-tiles-bottom-tile_map
                .contacts-grid-small-tiles-bottom-tile.contacts-grid-small-tiles-bottom-tile_edu
