.contacts
    .contacts-grid
        .contacts-grid-info

        .contacts-grid-small-tiles
            .contacts-grid-small-tiles-top
                .contacts-grid-small-tiles-top-tile.contacts-grid-small-tiles-top-tile_cafe
                .contacts-grid-small-tiles-top-tile.contacts-grid-small-tiles-top-tile_shop
            .contacts-grid-small-tiles-bottom
                .contacts-grid-small-tiles-bottom-tile.contacts-grid-small-tiles-bottom-tile_map
                .contacts-grid-small-tiles-bottom-tile.contacts-grid-small-tiles-bottom-tile_edu
