footer.footer
    .footer-left
        img(src='img/logo-footer.png' alt='logo').footer-left__logo
        .footer-left-subscribe
            .footer-left-subscribe__title ПІДПИСАТИСЬ НА НОВИНИ
            form()
                input(type='email' placeholder='Введіть e-mail').footer-left-subscribe__input
                button(type='submit').footer-left-subscribe__submit
                    img(src='img/send.png' alt='Submit')
        .footer-left-social
            .footer-left-social__title МИ В СОЦІАЛЬНИХ МЕРЕЖАХ
            .footer-left-social-links
                .footer-left-social-links__link
                    a(href='#')
                        img(src='img/soc-fb.png' alt='fb')
                .footer-left-social-links__link
                    a(href='#')
                        img(src='img/soc-tw.png' alt='tw')
    .footer-right
        .footer-right-menus
            .footer-right-menus-menu
                .footer-right-menus-menu__title ЕКСПОЗИЦІЯ ТА ШОУ
                nav.footer-right-menus-menu-links
                    a(href='#').footer-right-menus-menu-links__item Шоу в музеї
                    a(href='#').footer-right-menus-menu-links__item Експозиція музею
                    a(href='#').footer-right-menus-menu-links__item Виїздні шоу
                    a(href='#').footer-right-menus-menu-links__item 3Д тур
            .footer-right-menus-menu__margin
            .footer-right-menus-menu
                .footer-right-menus-menu__title НОВИНИ
                nav.footer-right-menus-menu-links
                    a(href='#').footer-right-menus-menu-links__item Новини музею
                    a(href='#').footer-right-menus-menu-links__item Новини зі світу науки
                    a(href='#').footer-right-menus-menu-links__item Анонси
                    a(href='#').footer-right-menus-menu-links__item Акції
            .footer-right-menus-menu__margin
            .footer-right-menus-menu
                .footer-right-menus-menu__title ОСВІТНІ ПРОГРАМИ
                nav.footer-right-menus-menu-links
                    a(href='#').footer-right-menus-menu-links__item Шкільні екскурсії
                    a(href='#').footer-right-menus-menu-links__item Наукові гуртки
                    a(href='#').footer-right-menus-menu-links__item Лекції
                    a(href='#').footer-right-menus-menu-links__item Майстер-класи
            .footer-right-menus-menu__margin
            .footer-right-menus-menu
                .footer-right-menus-menu__title ОРГАНІЗАЦІЯ ЗАХОДІВ
                nav.footer-right-menus-menu-links
                    a(href='#').footer-right-menus-menu-links__item День народження
                    a(href='#').footer-right-menus-menu-links__item Корпоративні заходи
                    a(href='#').footer-right-menus-menu-links__item Оренда приміщень
                    a(href='#').footer-right-menus-menu-links__item Кафе
            .footer-right-menus-menu__line
            .footer-right-menus-menu
                .footer-right-menus-menu__title ПРО НАС
                nav.footer-right-menus-menu-links
                    a(href='#').footer-right-menus-menu-links__item Про музей
                    a(href='#').footer-right-menus-menu-links__item Правила поведінки
                    a(href='#').footer-right-menus-menu-links__item Відгуки
                    a(href='#').footer-right-menus-menu-links__item Благодійність
                    a(href='#').footer-right-menus-menu-links__item FAQ
            .footer-right-menus-menu__margin
            .footer-right-menus-menu
                .footer-right-menus-menu__title МУЗЕЙ
                nav.footer-right-menus-menu-links
                    a(href='#').footer-right-menus-menu-links__item Квитки
                    a(href='#').footer-right-menus-menu-links__item Магазин
                    a(href='#').footer-right-menus-menu-links__item Вакансії
                    a(href='#').footer-right-menus-menu-links__item Фото та відео
                    a(href='#').footer-right-menus-menu-links__item Подяки