.get-visit
    .get-visit-contacts
        .get-visit-contacts-address
            .get-visit-contacts-address__title Чекаємо вас за адресою:
            .get-visit-contacts-address__street м. Київ, вул. Верхній Вал 2А
        .get-visit-contacts-shedule
            .get-visit-contacts-shedule__title Графік роботи музею:
            .get-visit-contacts-shedule__days
                | пн-вихідний
                br
                | вт-пт: 09:30 - 19:00
                br
                | сб-нд, свята: 10:00 - 20:00
        .cget-visit-contacts-contacts
            .get-visit-contacts-contacts__title Контакти:
            .get-visit-contacts-contacts__tel
                | +38 (044) 425-65-81,
                br
                | +38 (096) 477-97-91,
                br
                | +38 (099) 256-71-27
            .get-visit-contacts-contacts__mail enjoy@experimentanium.com.ua
    .get-visit-map
    .get-visit-book
        form.get-visit-book-form
            .get-visit-book-form__title ЗАПЛАНУВАТИ ВІЗИТ
            //html5 не підтримує формат DD/MM/YYYY для дат в інпутах
            input(type='date' value='2016-05-10').get-visit-book-form__input.get-visit-book-form__input_date
            input(type='time').get-visit-book-form__input.get-visit-book-form__input_time
            input(type='number' placeholder='Кількість білетів').get-visit-book-form__input.get-visit-book-form-input_amount
