header.header
    .header-top-line
        .header-lang
            span.header-lang__current УКР
            img(src='img/lang-arrow.png' alt='arrow').header-lang__arr
        .header-search
            img(src='img/search.png').header-search__icon
    .header-bottom-line
        .header__logo
            img(src='img/logo.png' alt='logo')
        nav.header-menu
                a(href='#').header-menu_item ГОЛОВНА
                a(href='#').header-menu_item ЕКСПОЗИЦІЯ ТА ШОУ
                a(href='#').header-menu_item НОВИНИ
                a(href='#').header-menu_item ОСВІТНІ ПРОГРАМИ
                a(href='#').header-menu_item ОРГАНІЗАЦІЯ СВЯТ
                a(href='#').header-menu_item ПРО НАС
        a(href='#').header__tickets КВИТКИ
