.info-cards
    .info-cards-card.info-cards-card_violet
        img.info-cards-card__icon(src='img/3d-icon.png' alt='3d-icon')
        .info-cards-card__title
            | 3D ТУР
            br
            | ЕКСПЕРИМЕТНАРІУМОМ
        .info-cards-card__desc Унікальна мождливість продивитись експозицію, не виходячи з дому.
    .info-cards-card.info-cards-card_green
        img.info-cards-card__icon(src='img/tickets-icon.png' alt='tickets-icon')
        .info-cards-card__title
            | КВИТКИ,
            br
            | ГРАФІК РОБОТИ МУЗЕЮ
        .info-cards-card__desc інформаця про розклад роботи, ціни та види квитків, доступні знижки та акції