.lecture-block
    .lecture-block-lecture
        nav.page-nav
            img(src='img/nav-arrow.png' alt='back').page-nav__back
            li.page-nav__section ОСВІТНІ ПРОГРАМИ
            li.page-nav__slash /
            li.page-nav__section ЛЕКЦІЇ
            li.page-nav__slash /
            li.page-nav__item ДИФУЗІЯ
        .lecture-block-lecture-desc
            .lecture-block-lecture-desc-poster
                img(src='img/lecture.jpg' alt='lecture poster').lecture-block-lecture-desc-poster__image
                .lecture-block-lecture-desc-poster-info
                    .lecture-block-lecture-desc-poster-info-content
                        .lecture-block-lecture-desc-poster-info-content__title Коли:
                        .lecture-block-lecture-desc-poster-info-content__important
                            | ВТ, СР, ЧТ
                            br
                            | 12:00, 16:00
                    .lecture-block-lecture-desc-poster-info__margin
                    .lecture-block-lecture-desc-poster-info-content
                        .lecture-block-lecture-desc-poster-info-content__title Тривалість:
                        .lecture-block-lecture-desc-poster-info-content__important
                            | 120 хв
                    .lecture-block-lecture-desc-poster-info__margin
                    .lecture-block-lecture-desc-poster-info-content
                        .lecture-block-lecture-desc-poster-info-content__title Ціна:
                        .lecture-block-lecture-desc-poster-info-content__important
                            | від 250 грн.
            .lecture-block-lecture-tabs