.lectures-list
    .lectures-list-lecture
        .lectures-list-lecture-desc
            .lectures-list-lecture-desc__type Лекція-експеримент
            .lectures-list-lecture-desc__title
                | ДИФУЗІЯ. ВЗАЄМОДІЯ МОЛЕКУЛ
                br
                | ТА АТОМІВ У ПРИРОДІ.
            a(href='#').lectures-list-lecture-desc__read-more ДЕТАЛЬНІШЕ
            .lectures-list-lecture-desc__date
                | Час проведення: Понеділок 12:30
                br
                | Ціна: від 250грн.
        img(src='img/lec1.jpg' alt='lecture-image').lectures-list-lecture-image
    .lectures-list-lecture.lectures-list-lecture_right-sided
        img(src='img/lec2.jpg' alt='lecture-image').lectures-list-lecture-image
        .lectures-list-lecture-desc
            .lectures-list-lecture-desc__type Лекція-експеримент
            .lectures-list-lecture-desc__title
                | ДИФУЗІЯ. ВЗАЄМОДІЯ МОЛЕКУЛ
                br
                | ТА АТОМІВ У ПРИРОДІ.
            a(href='#').lectures-list-lecture-desc__read-more ДЕТАЛЬНІШЕ
            .lectures-list-lecture-desc__date
                | Час проведення: Понеділок 12:30
                br
                | Ціна: від 250грн.
    .lectures-list-lecture
        .lectures-list-lecture-desc
            .lectures-list-lecture-desc__type Лекція-експеримент
            .lectures-list-lecture-desc__title
                | ДИФУЗІЯ. ВЗАЄМОДІЯ МОЛЕКУЛ
                br
                | ТА АТОМІВ У ПРИРОДІ.
            a(href='#').lectures-list-lecture-desc__read-more ДЕТАЛЬНІШЕ
            .lectures-list-lecture-desc__date
                | Час проведення: Понеділок 12:30
                br
                | Ціна: від 250грн.
        img(src='img/lec3.jpg' alt='lecture-image').lectures-list-lecture-image
    .lectures-list-lecture.lectures-list-lecture_right-sided
        img(src='img/lec4.jpg' alt='lecture-image').lectures-list-lecture-image
        .lectures-list-lecture-desc
            .lectures-list-lecture-desc__type Лекція-експеримент
            .lectures-list-lecture-desc__title
                | ДИФУЗІЯ. ВЗАЄМОДІЯ МОЛЕКУЛ
                br
                | ТА АТОМІВ У ПРИРОДІ.
            a(href='#').lectures-list-lecture-desc__read-more ДЕТАЛЬНІШЕ
            .lectures-list-lecture-desc__date
                | Час проведення: Понеділок 12:30
                br
                | Ціна: від 250грн.