.lectures-all
    .lectures-all-block
        nav.page-nav
            img(src='img/nav-arrow.png' alt='back').page-nav__back
            .page-nav__section ОСВІТНІ ПРОГРАМИ
            .page-nav__slash /
            .page-nav__item ЛЕКЦІЇ
        include lecture-list.pug