.lecture-block
    .lecture-block-lecture
        nav.page-nav
            img(src='img/nav-arrow.png' alt='back').page-nav__back
            li.page-nav__section ОСВІТНІ ПРОГРАМИ
            li.page-nav__slash /
            li.page-nav__section ЛЕКЦІЇ
            li.page-nav__slash /
            li.page-nav__item ДИФУЗІЯ
        .lecture-block-lecture-desc
            .lecture-block-lecture-desc-poster
                img(src='img/lecture.jpg' alt='lecture poster').lecture-block-lecture-desc-poster__image
                .lecture-block-lecture-desc-poster-info
                    .lecture-block-lecture-desc-poster-info-content
                        .lecture-block-lecture-desc-poster-info-content__title Коли:
                        .lecture-block-lecture-desc-poster-info-content__important
                            | ВТ, СР, ЧТ
                            br
                            | 12:00, 16:00
                    .lecture-block-lecture-desc-poster-info__margin
                    .lecture-block-lecture-desc-poster-info-content
                        .lecture-block-lecture-desc-poster-info-content__title Тривалість:
                        .lecture-block-lecture-desc-poster-info-content__important
                            | 120 хв
                    .lecture-block-lecture-desc-poster-info__margin
                    .lecture-block-lecture-desc-poster-info-content
                        .lecture-block-lecture-desc-poster-info-content__title Ціна:
                        .lecture-block-lecture-desc-poster-info-content__important
                            | від 250 грн.
            .lecture-block-lecture-tabs
                ul.lecture-block-lecture-tabs-items
                    a(href='#')
                        li.lecture-block-lecture-tabs-items__item ІНФОРМАЦІЯ
                    a(href='#')
                        li.lecture-block-lecture-tabs-items__item ВІДГУКИ(2)
                    a(href='#')
                        li.lecture-block-lecture-tabs-items__item.lecture-block-lecture-tabs-items__item_active КВИТКИ
                .lecture-block-lecture-tabs-tickets
                    .lecture-block-lecture-tabs-tickets-ticket
                        .lecture-block-lecture-tabs-tickets-ticket__category Діти до 6 років
                        .lecture-block-lecture-tabs-tickets-ticket__price 250 грн
                        a(href='#').lecture-block-lecture-tabs-tickets-ticket__buy КВИТКИ
                    .lecture-block-lecture-tabs-tickets-ticket
                        .lecture-block-lecture-tabs-tickets-ticket__category Діти від 6 до 18 років
                        .lecture-block-lecture-tabs-tickets-ticket__price 350 грн
                        a(href='#').lecture-block-lecture-tabs-tickets-ticket__buy КВИТКИ
                    .lecture-block-lecture-tabs-tickets-ticket
                        .lecture-block-lecture-tabs-tickets-ticket__category Дорослі
                        .lecture-block-lecture-tabs-tickets-ticket__price 400 грн
                        a(href='#').lecture-block-lecture-tabs-tickets-ticket__buy КВИТКИ
                    .lecture-block-lecture-tabs-tickets-ticket
                        .lecture-block-lecture-tabs-tickets-ticket__category Студенти
                        .lecture-block-lecture-tabs-tickets-ticket__price 400 грн
                        a(href='#').lecture-block-lecture-tabs-tickets-ticket__buy КВИТКИ
                    .lecture-block-lecture-tabs-tickets-ticket
                        .lecture-block-lecture-tabs-tickets-ticket__category Групи до 10 чоловік
                        .lecture-block-lecture-tabs-tickets-ticket__price 200 грн (з особи)
                        a(href='#').lecture-block-lecture-tabs-tickets-ticket__buy КВИТКИ
                    .lecture-block-lecture-tabs-tickets-ticket
                        .lecture-block-lecture-tabs-tickets-ticket__category Групи від 11 чоловік
                        .lecture-block-lecture-tabs-tickets-ticket__price 150 грн (з особи)
                        a(href='#').lecture-block-lecture-tabs-tickets-ticket__buy КВИТКИ