.main-content
    .main-content-activities
        .main-content-activities-row
            .main-content-activities-row-card.main-content-activities-row-card_image-card
                img(src='img/act1.jpg' alt='')
            .main-content-activities-row-card.main-content-activities-row-card_green
                img(src='img/cake.png' alt='').main-content-activities-row-card__icon
                .main-content-activities-row-card__title
                    | СВЯТКУЙТЕ ДЕНЬ НАРОДЖЕННЯ
                    br
                    | В МУЗЕЇ
                .main-content-activities-row-card__desc Хочете влаштувати своїй дитині по-справжньому незабутнє свято?  Тоді послуга саме для вас.
        .main-content-activities-row
            .main-content-activities-row
                .main-content-activities-row-card.main-content-activities-row-card_orange
                    img(src='img/bottle.png' alt='').main-content-activities-row-card__icon
                    .main-content-activities-row-card__type НАУКОВИЙ ГУРТОК
                    .main-content-activities-row-card__title «ЦІКАВА ХІМІЯ З ВОЛТЕРОМ ВАЙТОМ»
                    .main-content-activities-row-card__desc Ваша дитина полюбляє «похімічити» вдома? При-водьте її до нас, на заняття гуртка «Цікава хімія»!
                .main-content-activities-row-card.main-content-activities-row-card_image-card
                    img(src='img/act2.jpg' alt='')
    .main-content-promo-lectures
        .main-content-promo-lectures-lecture
            img(src='img/promo-lecture.jpg' alt='lecture').main-content-promo-lectures-lecture__preview
            .main-content-promo-lectures-lecture-description
                .main-content-promo-lectures-lecture-description__title ТРАНСФОРМАТОР ТЕСЛА
                .main-content-promo-lectures-lecture-description__desc
                    | Пристрій, винайдений Ніколою Теслою, що носить його ім'я і виконаний у вигляді трансформатора, ввімкнутого обмотками в коливальні контури, які працюють в резонансному режимі та служить для утворення високої електричної напруги (десятки кіловольт) високої частоти (зазвичай, 20...100 кГц).
                    br
                    | Прилад було запатентовано 22 вересня 1896 року, як «Апарат для вироблення електричних струмів високої частоти і потенціалу»
                .main-content-promo-lectures-lecture-description-buttons
                    a(href='#').main-content-promo-lectures-lecture-description-buttons__read-more ЧИТАТИ ДАЛІ
                    a(href='#').main-content-promo-lectures-lecture-description-buttons__buy-tickets ПРИДБАТИ КВИТКИ НА ШОУ
