.main-content
    .main-content-activities
        .main-content-activities-row
            .main-content-activities-row-card.main-content-activities-row-card_image-card
                img(src='img/act1.jpg' alt='')
            .main-content-activities-row-card.main-content-activities-row-card_green
                img(src='img/cake.png' alt='').main-content-activities-row-card__icon
                .main-content-activities-row-card__title СВЯТКУЙТЕ ДЕНЬ НАРОДЖЕННЯ В МУЗЕЇ
                .main-content-activities-row-card__desc Хочете влаштувати своїй дитині по-справжньому незабутнє свято?  Тоді послуга саме для вас.
        .main-content-activities-row
            .main-content-activities-row
                .main-content-activities-row-card.main-content-activities-row-card_orange
                    img(src='img/bottle.png' alt='').main-content-activities-row-card__icon
                    .main-content-activities-row-card__type НАУКОВИЙ ГУРТОК
                    .main-content-activities-row-card__title «ЦІКАВА ХІМІЯ З ВОЛТЕРОМ ВАЙТОМ»
                    .main-content-activities-row-card__desc Ваша дитина полюбляє «похімічити» вдома? При-водьте її до нас, на заняття гуртка «Цікава хімія»!
                .main-content-activities-row-card.main-content-activities-row-card_image-card
                    img(src='img/act2.jpg' alt='')