.main-content
    .main-content-activities
        .main-content-activities-row
            .main-content-activities-row-card
                img(src='img/act1.jpg' alt='')
            .main-content-activities-row-card
                img(src='img/act2.jpg' alt='')
        .main-content-activities-row
            .main-content-activities-row-card
                img(src='img/act2.jpg' alt='')
            .main-content-activities-row-card
                img(src='img/act1.jpg' alt='')