.news-slider
    .news-slider-slide
        time.news-slider-slide__date 14/04/16
        .news-slider-slide__new Музей «Експериментаніум» побував на допрем'єрному показі мультфільму "Норм та Незламні"
    .news-slider__details
        a(href='#')
            img(src='img/new-hover.jpg' alt='')
    .news-slider-slide
        time.news-slider-slide__date 1/04/16
        .news-slider-slide__new Сніжана Єгорова  презентувала свою  книгу в «Експериментаніумі»
    .news-slider-controls
        a(href='#')
            img(src='img/arrow-disabled.png' alt='left').news-slider-controls__left
        a(href='#')
            img(src='img/arrow-r.png' alt='right').news-slider-controls__right

