.promo
    .promo__arrow
    .promo-slider
        .promo-slider-arrows
            img(src='img/arrow-l.png' alt='left').promo-slider-arrows__left
            img(src='img/arrow-r.png' alt='right').promo-slider-arrows__right
        .promo-slider-slide.promo-slider-slide_active
            time.promo-slider-slide-time
                .promo-slider-slide-time__day 12
                .promo-slider-slide-time__month \09\2016
            .promo-slider-slide__type Лекція-експеримент
            .promo-slider-slide__title ДИФУЗІЯ. ВЗАЄМОДІЯ МОЛЕКУЛ  ТА АТОМІВ У ПРИРОДІ.
            .promo-slider-slide-buttons
                .promo-slider-slide-buttons__details ДЕТАЛЬНІШЕ
                .promo-slider-slide-buttons__tickets ПРИДБАТИ КВИТКИ