.promo
    .promo__arrow
    .promo-slider-controls
            img(src='img/arrow-l.png' alt='left').promo-slider-controls__left
            img(src='img/arrow-r.png' alt='right').promo-slider-controls__right
    .promo-slider
        .promo-slider-slide.promo-slider-slide_active
            time.promo-slider-slide-time
                .promo-slider-slide-time__day 12
                .promo-slider-slide-time__month \09\2016
            .promo-slider-slide__type Лекція-експеримент
            .promo-slider-slide__title ДИФУЗІЯ. ВЗАЄМОДІЯ МОЛЕКУЛ  ТА АТОМІВ У ПРИРОДІ.
            .promo-slider-slide-buttons
                a(href='#').promo-slider-slide-buttons__details ДЕТАЛЬНІШЕ
                a(href='#').promo-slider-slide-buttons__tickets ПРИДБАТИ КВИТКИ
    .promo-discount-slider
        img(src='img/audio.png' alt='icon').promo-discount-slider__icon
        .promo-discount-slider__title АКЦІЇ ТА ЗНИЖКИ
        .promo-discount-slider-slide.promo-discount-slider-slide_active
            .promo-discount-slider-slide__title Активним відвідувачам дитячого  табору - знижка!
            .promo-discount-slider-slide__desc При оплаті 5 днів перебування в дитячому таборі «Літні канікули в музеї» - знижка!