.promo
    .promo__arrow
    .promo-slider-controls
            img(src='img/arrow-l.png' alt='left').promo-slider-controls__left
            img(src='img/arrow-r.png' alt='right').promo-slider-controls__right
    .promo-sliders
        .promo-sliders-slider
            .promo-sliders-slider-slide.promo-sliders-slider-slide_active
                time.promo-sliders-slider-slide-time
                    .promo-sliders-slider-slide-time__day 12
                    .promo-sliders-slider-slide-time__month \09\2016
                .promo-sliders-slider-slide__type Лекція-експеримент
                .promo-sliders-slider-slide__title ДИФУЗІЯ. ВЗАЄМОДІЯ МОЛЕКУЛ  ТА АТОМІВ У ПРИРОДІ.
                .promo-sliders-slider-slide-buttons
                    a(href='#').promo-sliders-slider-slide-buttons__details ДЕТАЛЬНІШЕ
                    a(href='#').promo-sliders-slider-slide-buttons__tickets ПРИДБАТИ КВИТКИ
        .promo-sliders-discount-slider
            img(src='img/audio.png' alt='icon').promo-sliders-discount-slider__icon
            .promo-sliders-discount-slider__title АКЦІЇ ТА ЗНИЖКИ
            .promo-sliders-discount-slider-slide.promo-sliders-discount-slider-slide_active
                .promo-sliders-discount-slider-slide__title Активним відвідувачам дитячого  табору - знижка!
                .promo-sliders-discount-slider-slide__desc При оплаті 5 днів перебування в дитячому таборі «Літні канікули в музеї» - знижка!
                img(src='img/dots.png' alt='').promo-sliders-discount-slider-slide-controls