.contacts {
  z-index: 2;
  position: relative;
  &-grid {
    margin: 0 45px 0 88px;
    width: 1219px;
    border-top: 2px solid #90c004;
    &-info {
      display: inline-block;
      vertical-align: text-top;
      text-align: center;
      background: #90c004;
      width: 525px;
      height: 678px;
      color: #fff;
      font-size: 20px;
      &-address {
        margin-top: 75px;
        margin-bottom: 75px;
        &__title {
          margin-bottom: 25px;
        }
        &__street {
            @extend .title;
          text-transform: uppercase;
        }
      }
      &-shedule {
        &__title {
          margin-bottom: 20px;
        }
        &__days {
          text-transform: uppercase;
          line-height: 1.7;
        }
      }

      &-contacts {
        margin-top: 50px;
        &__title {
          margin-bottom: 33px;
        }

        &__tel {
          line-height: 1.3;
        }
        &__mail {
          margin-top: 35px;
        }
      }
    }

    &-small-tiles {
      display: inline-block;
      vertical-align: text-top;
      &-top {
        height: 250px;
        &-tile {
          display: inline-block;
          height: 250px;
          width: 347px;
          &_cafe {
            background: url('../../img/cafe.jpg');
          }

          &_shop {
            background: url('../../img/shop.jpg');
          }
        }

      }

      &-bottom {
        display: inline-block;
        vertical-align: text-top;
        &-tile {
          display: inline-block;
          width: 347px;
          height: 428px;
          &_map {
            background: url('../../img/map.jpg');
          }
          &_edu {
            background: url('../../img/edu.png');
          }
        }
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #A352D1;
    width: 688px;
    height: 100%;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    z-index: -1;
    height: 190px;
    width: 100%;
    background: #A352D1;
  }
}