.footer {
  background-color: #A352D1;
  padding: 76px 30px 80px 80px;
  &-left {
    display: inline-block;
    vertical-align: text-top;
    &__logo {
      margin-bottom: 65px;
    }
    &-subscribe {
      margin-bottom: 65px;
      &__title {
        @extend .title-small;
        margin-bottom: 27px;
      }
      form {
        border-bottom: 2px solid #ab9fb7;
        width: 230px;
      }
      &__input {
        display: inline-block;
        vertical-align: middle;
        background: #A352D1;
        color: #fff;
        border: none;
        width: 200px;
        padding:  0 0 5px 0;
        &::-webkit-input-placeholder {
          color: #fff;
          opacity: 1;
          font-size: 13px;
          padding-left: 20px;
        }
        &::-moz-placeholder {
          color: #fff;
          opacity: 1;
          font-size: 13px;
          padding-left: 20px;
        }
        &:-moz-placeholder {
          color: #fff;
          opacity: 1;
          font-size: 13px;
          padding-left: 20px;
        }
        &:-ms-input-placeholder {
          color: #fff;
          opacity: 1;
          font-size: 13px;
        }

        &:focus {
          outline-width: 0;
        }
      }
      &__submit {
        display: inline-block;
        vertical-align: middle;
        background: #A352D1;
        border: none;
        cursor: pointer;
        transition: all 0.1s;
        &:hover {
          transform: rotate(25deg);
          transition: all 0.1s;
        }

        &:active {
          transform: scale(1.05);
          transition: all 0.1s;
        }

        &:focus {
          outline-width: 0;
        }
      }
    }
    &-social {
      &__title {
        @extend .title-small;
        margin-bottom: 27px;
      }
      &-links {
        &__link {
          display: inline-block;
          margin-right: 35px;
          border-bottom: 2px solid #A352D1;
          transition: all 0.1s;
          &:hover {
            border-color: #90c004;
            transition: all 0.1s;
          }

          &:active {
            border-color: #dd892d;
            transition: all 0.1s;
          }
        }
      }
    }
  }
  &-right {
    display: inline-block;
    vertical-align: text-top;
    &-menus {
      margin-left: 190px;
      margin-top: 20px;
      &-menu {
        display: inline-block;
        vertical-align: text-top;
        width: 150px;
        &__title {
          @extend .title-small;
          margin-bottom: 35px;
        }
        &-links {
          &__item {
            display: block;
            font-size: 13px;
            margin-bottom: 10px;
            color: #fff;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            transition: all 0.1s;
            &:hover {
              color: #90c004;
              transition: all 0.1s;
            }

            &:active {
              color: #dd892d;
              transition: all 0.1s;
            }
          }
        }
        &__margin {
          display: inline-block;
          vertical-align: middle;
          width: 45px;
        }
        &__line {
          height: 40px;
        }
      }
    }
  }
}