.header {
  padding: 0 35px 0 45px;
  .header-top-line {
    .header-search {
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
      float: right;
      .header-search__icon {

      }
    }
    .header-lang {
      display: inline-block;
      vertical-align: middle;
      float: right;
      margin-right: 15px;
      &__current {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        color: #424242;
      }
      &__arr {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .header-bottom-line {
    padding-top: 20px;
    .header__logo {
      display: inline-block;
      vertical-align: middle;
    }
    .header-menu {
      display: inline-block;
      vertical-align: middle;
      margin-top: -10px;
      margin-left: 78px;
      background: #fff;
      padding: 0 15px;
      &-item {
        @extend .button;
        display: inline-block;
        padding: 19px 12px;
        vertical-align: middle;
        font-weight: 500;
        color: #000;
        background: #fff;
        text-decoration: none;
        position: relative;
        transition: all 0.1s;
        &:hover {
          background: #875fc4;
          color: #fff;
          transition: all 0.1s;
        }
        &:active {
          background: #d27a12;
          color: #fff;
          transition: all 0.1s;
        }
      }
      &-item_with-submenu {
        width: 148px;
        text-align: center;
        padding: 19px 0;
        position: relative;
        &:hover {
          &-menu {
            visibility: visible;
          }
        }
        &-menu {
          text-align: left;
          visibility: hidden;
          position: absolute;
          background: #fff;
          left: -10px;
          top: 52px;
          padding: 14px 0;
          &__item {
            @extend .button;
            display: block;
            width: 145px;
            padding: 10px 20px 15px;
            color: #000;
            text-decoration: none;
          }
          transition: all 0s;
        }
        &:hover {
          font-weight: bold;
          color: #875fc4;
          background: #fff;
          transition: all 0s;
        }
      }
    }
    .header__tickets {
      @extend .button-with-border;
      display: inline-block;
      vertical-align: middle;
      margin-top: -10px;
      color: $violet;
      text-decoration: none;
      border-color: $violet;
      padding: 16px 45px;
      margin-left: 31px;
      transition: all 0.1s;
      &:hover {
        border-color: #90c004;
        color: #90c004;
        transition: all 0.1s;
      }

      &:active {
        border-color: #d27a12;
        color: #d27a12;
        transition: all 0.1s;
      }
    }
  }
}