.header {
  @extend .default-padding;
  .header-top-line {
    .header-search {
      display: inline-block;
      vertical-align: middle;
      margin-right: 33px;
      float: right;
      .header-search__icon {

      }
    }
    .header-lang {
      display: inline-block;
      vertical-align: middle;
      float: right;
      &__current {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        color: #424242;
      }
      &__arr {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .header-bottom-line {
    padding-top: 20px;
    .header__logo {
      display: inline-block;
      vertical-align: middle;
    }
    .header-menu {
      display: inline-block;
      vertical-align: middle;
      margin-top: -10px;
      margin-left: 78px;
      background: #fff;
      padding: 0 15px;
      &-item {
        @extend .button;
        display: inline-block;
        padding: 19px 12px;
        vertical-align: middle;
        font-weight: 500;
        color: #000;
        background: #fff;
        text-decoration: none;
        position: relative;
        transition: all 0.1s;
        &:hover {
          background: #875fc4;
          color: #fff;
          transition: all 0.1s;
        }
      }
      &-item_with-submenu {
        &-menu {
          visibility: hidden;
          position: absolute;
          background: #fff;
          top: 52px;
          padding: 14px 0;
          &__item {
            @extend .button;
            display: block;
            width: 145px;
            padding: 10px 20px 15px;
            color: #000;
            text-decoration: none;
          }
        }
      }
    }
    .header__tickets {
      @extend .button-with-border;
      display: inline-block;
      vertical-align: middle;
      margin-top: -10px;
      color: $violet;
      text-decoration: none;
      border-color: $violet;
      padding: 16px 45px;
      margin-left: 25px;
    }
  }
}