.lectures-all {
  position: relative;
  padding-top: 35px;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #A352D1;
    width: 465px;
    height: 100%;
  }
  &-block {
    padding: 0 55px 45px;
  }
}