.lectures-all {
  height: 500px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #A352D1;
    width: 688px;
    height: 100%;
  }
  &-block {
    padding: 45px 55px;
  }
}