.lecture-block {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #A352D1;
    width: 465px;
    height: 100%;
  }
  &-lecture {
    padding: 2px 55px 95px 30px;
    .page-nav {
      margin-bottom: 30px;
    }
    &-desc {
      margin-left: 110px;
      &-poster {
        display: inline-block;
        vertical-align: text-top;
        width: 515px;
        &__image {
          display: block;
        }
        &-info {
          height: 116px;
          background: #7b3fb3;
        }
      }
    }
    &-tabs {
      display: inline-block;
      vertical-align: text-top;
      height: 680px;
      width: 630px;
      background: #90c004;
    }
  }
}