.lecture-block {
  position: relative;
  padding-top: 35px;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #A352D1;
    width: 465px;
    height: 100%;
  }
  &-lecture {
    padding: 2px 0 95px 50px;
    .page-nav {
      margin-bottom: 30px;
    }
    &-desc {
      margin-left: 110px;
      &-poster {
        display: inline-block;
        vertical-align: text-top;
        width: 515px;
        &__image {
          display: block;
          width: 515px;
          -webkit-box-shadow: 0 0 24px 2px rgba(0,0,0,0.26);
          -moz-box-shadow: 0 0 24px 2px rgba(0,0,0,0.26);
          box-shadow: 0 0 24px 2px rgba(0,0,0,0.26);
        }
        &-info {
          height: 76px;
          background: #7b3fb3;
          padding: 18px 25px;
          &-content {
            display: inline-block;
            vertical-align: text-top;
            color: #fff;
            &__title {
              font-size: 18px;
              margin-bottom: 15px;
            }
            &__important {
              font-weight: 600;
              font-size: 20px;
              font-family: 'Roboto Condensed', sans-serif;
              line-height: 1.2;
            }
          }
          &__margin {
            display: inline-block;
            vertical-align: text-top;
            width: 68px;
          }
        }
      }
    }
    &-tabs {
      display: inline-block;
      vertical-align: text-top;
      width: 630px;
      padding-top: 55px;
      &-items {
        padding-left: 80px;
        &__item {
          display: inline-block;
          vertical-align: middle;
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 18px;
          margin-right: 55px;
          a{
            color: #c6c6c6;
            text-decoration: none;
            transition: all 0.1s;
            &:hover {
              transition: all 0.1s;
              color: #9153cc;
            }
            &:active {
              transition: all 0.1s;
              color: #90c004;
            }
          }
          &_active {
            a {
              color: #9153cc;
              font-weight: 600;
              &:active {
                color: #9153cc;
              }
            }
          }
        }
      }
      &-tickets {
        margin-top: 52px;
        &-ticket {
          padding-left: 80px;
          color: #000;
          transition: all 0.2s;
          &:hover {
            color: #fff;
            background: #9e68d2;
            padding-top: 11px;
            padding-bottom: 11px;
            transition: all 0.2s;
          }
          &__category {
            display: inline-block;
            vertical-align: middle;
            width: 215px;
          }

          &__price {
            display: inline-block;
            vertical-align: middle;
            font-weight: 600;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 20px;
            width: 175px;
          }

          &__buy {
            display: inline-block;
            vertical-align: middle;
            font-weight: 600;
            font-family: 'Roboto Condensed', sans-serif;
            color: #fff;
            border: 3px solid #fff;
            padding: 17px 44px;
            font-size: 14px;
            text-decoration: none;
            transition: all 0.1s;
            &:hover {
              border-color: #90c004;
              color: #90c004;
              transition: all 0.1s;
            }
            &:active {
              border-color: #d27a12;
              color: #d27a12;
              transition: all 0.1s;
            }
          }
        }
      }
    }
  }
}