.lecture-block {
  height: 500px;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #A352D1;
    width: 465px;
    height: 100%;
  }
  &-lecture {
    padding: 45px 55px;
  }
}