.main-content {
  padding: 0 45px 0 88px;
  background: url('../../img/tesla-bg.jpg') 0 -10px;
  &-activities {
    &-row {
      &-card {
        color: #fff;
        display: inline-block;
        vertical-align: text-top;
        width: 606px;
        height: 435px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        &_image-card {
          img {
            width: 100%;
            height: 100%;
          }
        }

        &__type {
          @extend .title;
          font-size: 17px;
          margin: 40px auto 0 auto;
          width: 440px;
        }

        &__title {
          @extend .title;
          margin: 0 auto;
          width: 440px;
          font-size: 22px;
          line-height: 1.4;
        }

        &__icon {
          display: block;
        }

        &__desc {
          margin: 25px auto 0 auto;
          width: 440px;
          font-size: 17px;
          line-height: 1.4;
        }

        &_green {
          background: #90c004;
        }

        &_orange {
          background: #dd892d;
        }

        &_green &__icon {
          margin: 100px auto 30px auto;
        }

        &_orange &__icon {
          margin: 85px auto 5px auto;
        }

        &_orange &__title {
          margin: 10px auto 40px auto;
        }

      }
    }
  }
}