.main-content {
  padding: 0 45px 0 88px;
  background: url('../../img/tesla-bg.jpg') 0 -10px;
  &-activities {
    &-row {
      &-card {
        color: #fff;
        display: inline-block;
        vertical-align: text-top;
        width: 600px;
        height: 435px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        &_image-card {
          img {
            width: 100%;
            height: 100%;
          }
        }

        &__type {
          @extend .title;
          font-size: 17px;
          margin: 40px auto 0 auto;
          width: 440px;
        }

        &__title {
          @extend .title;
          margin: 0 auto;
          width: 440px;
          font-size: 22px;
          line-height: 1.4;
        }

        &__icon {
          display: block;
        }

        &__desc {
          margin: 25px auto 0 auto;
          width: 440px;
          font-size: 17px;
          line-height: 1.4;
        }

        &_green {
          background: #90c004;
        }

        &_orange {
          background: #dd892d;
        }

        &_green &__icon {
          margin: 100px auto 30px auto;
        }

        &_orange &__icon {
          margin: 85px auto 5px auto;
        }

        &_orange &__title {
          margin: 10px auto 40px auto;
        }

      }
    }
  }

  &-promo-lectures {
    padding: 105px 0;
    &-lecture {
      &__preview {
        display: inline-block;
        vertical-align: text-top;
      }
      &-description {
        display: inline-block;
        vertical-align: text-top;
        width: 390px;
        margin-left: 50px;
        margin-top: 40px;
        &__title {
          @extend .title;
          font-family: 'Roboto', sans-serif;
          font-size: 23px;
        }

        &__desc {
          margin-top: 35px;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          line-height: 1.5;
          font-size: 14px;
        }

        &-buttons {
          margin-top: 60px;
          &:focus {
            outline-width: 0;
          }
          &__read-more {
            @extend .button;
            display: inline-block;
            vertical-align: middle;
            color: #000;
            padding: 15px 26px;
            font-size: 15px;
            text-decoration: none;
            border: 3px solid #8740c8;
            font-weight: 600;
          }

          &__buy-tickets {
            @extend .button;
            display: inline-block;
            vertical-align: middle;
            margin-left: 30px;
            font-weight: 600;
            color: #fff;
            background: #8740c8;
            padding: 20px 22px;
            text-decoration: none;
          }
        }

      }
    }
  }
}