.news-slider {
  padding: 0 45px 0 80px;
  background: #fff;
  position: relative;
  z-index: 1;
  &-slide {
    display: inline-block;
    vertical-align: text-top;
    height: 422px;
    background: #fff;
    width: 419px;
    text-align: center;
    position: relative;
    -webkit-box-shadow: inset 0px -32px 11px -6px rgba(210,210,210,0.30),
    inset 0px 18px 11px -6px rgba(210,210,210,0.17);
    -moz-box-shadow: inset 0px -32px 11px -6px rgba(210,210,210,0.30),
    inset 0px 18px 11px -6px rgba(210,210,210,0.17);
    box-shadow: inset 0px -32px 11px -6px rgba(210,210,210,0.30),
    inset 0px 18px 11px -6px rgba(210,210,210,0.17);
    &__date {
      display: block;
      margin: 130px auto 0 auto;
      color: #7b4aa5;
      font-style: italic;
      font-size: 18px;
    }
    &__new {
      font-size: 16px;
      margin: 34px auto 0 auto;
      font-style: italic;
      width: 290px;
      line-height: 1.5;
    }
  }

  &__details {
    width: 376px;
    display: inline-block;
    vertical-align: text-top;
    height: 422px;
    position: relative;
    z-index: 4;
  }

  &-controls {
    position: absolute;
    bottom: 35px;
    width: 1212px;
    &__left, &__right {
      display: inline-block;
      vertical-align: middle;
    }

    &__left {
      float: left;
    }

    &__right {
      float: right;
    }
  }
}