.page-nav {
  margin-top: 45px;
  font-weight: 600;
  margin-bottom: 95px;
  &__back {
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
  }

  &__section {
    display: inline-block;
    vertical-align: middle;
    color: #afaab4;
  }

  &__slash {
    display: inline-block;
    vertical-align: middle;
    color: #afaab4;
    margin-left: 5px;
    margin-right: 5px;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
  }
}