@import "_var";
@import "common";
//components
@import "components/header";
@import "components/promo";
@import "components/info-cards";
@import "components/footer";
@import "components/news-slider";
@import "components/main-content";
@import "components/contacts";

body {
  font-family: 'Roboto', sans-serif;
  .body-wrapper {
    width: 1349px;
    margin: 0 auto;
    background: url('../../img/bg.jpg') top center no-repeat;
    padding-top: 32px;
  }
}