@import "_var";
@import "modificators";
@import "common";
@import "big-screen";
@import "small-screen";
@import "medium-screen";
//components
@import "components/header";
@import "components/promo";
@import "components/info-cards";
@import "components/footer";
@import "components/news-slider";
@import "components/main-content";
body {
  font-family: 'Roboto', sans-serif;
  .body-wrapper {
    max-width: 1366px;
    margin: 0 auto;
    background: url('../../img/bg.jpg') center;
    background-size: cover;
    padding-top: 32px;
  }
}