doctype
html
    head
        title Експерементаніум
        include components/head.pug
    body
        .body-wrapper
            include components/header.pug
        include components/scripts.pug
