doctype
html
    head
        title Експериментаніум
        include components/head.pug
        link(rel='stylesheet' href='styles/css/main-page.css')
    body
        .body-wrapper
            include components/header.pug
            include components/promo.pug
            include components/info-cards.pug
            include components/news-slider.pug
            include components/main-content.pug
            include components/contacts.pug
            include components/footer.pug
        link(rel='stylesheet' href='bower_components/parallax-vanilla/dist/css/parallax-vanilla.min.css')
        script(src='bower_components/parallax-vanilla/dist/js/parallax-vanilla.min.js')
        include components/scripts.pug
