doctype
html
    head
        title Експериментаніум
        include components/head.pug
    body
        .body-wrapper
            include components/header.pug
            include components/promo.pug
            include components/info-cards.pug
            include components/news-slider.pug
            include components/main-content.pug
            include components/contacts.pug
            include components/footer.pug
        include components/scripts.pug
