doctype
html(lang='uk')
    head
        title Експериментаніум
        include components/head.pug
        link(rel='stylesheet' href='styles/css/lecture-page.css')
    body
        .wrapper
            include components/header.pug
            include components/lecture.pug
            include components/get-visit.pug
            include components/footer.pug
        include components/scripts.pug