doctype
html
    head
        title Експерементаніум
        include components/head.pug
    body
        include components/header.pug
        include components/footer.pug
        //scripts
        include components/scripts.pug