doctype
html(lang='uk')
    head
        title Експериментаніум
        include components/head.pug
        link(rel='stylesheet' href='styles/css/all-lectures-page.css')
    body
        .wrapper
            include components/header.pug
            include components/lectures-all.pug
            include components/get-visit.pug
            include components/footer.pug
        //scripts
        include components/scripts.pug