doctype
html
    head
        title Експериментаніум
        include components/head.pug
    body
        include components/header.pug
        include components/lectures-all.pug
        include components/get-visit.pug
        include components/footer.pug
        //scripts
        include components/scripts.pug